@mixin style1($font-name, $path, $weight:400, $style:noraml){
  @font-face {
    font-family: $font-name;
    src: url("./Poppins-Black.ttf");
    font-weight: $weight;
    font-style: $style;
  }
}
$color1 :  red;
$color2 :  blue;
body{
  background-color: $color1;
}
#container{
  background-color: $color2;
  width: 300px;
  height: 200px;
}
nav{
  background-color: $color2;
  ul{
    list-style: none;
    padding: 3px;
    li{
      display: inline-block;
      a{
        text-decoration: none;
        color: white;
        font-size: 30px;
        padding: 20px;
        &:hover{
          background-color: darken($color2, 10%);
        }
      }
    }
    }
  }

  #bu0{
    @include style1();
  }
  #bu1{
    @include style1($bcolor: red, $borderWidth: 5px);
  }


  p{
    font-size: 80px;
    font-family: abc;
  }

  @font-face {
    font-family: abc;
    src: url("./Poppins-Black.ttf");
    font-weight: 400;
    font-style: normal;
  }